body {
    font-family: Roboto, , sans-serif;
    background-color: #3aada9;
}

* {
    box-sizing: border-box;
}

.container {
    padding: 30px;
    background-color: white;
    width: 25%;
    margin-left: 35%;
    margin-right: 65%;
}

.register{
    background-color: #702c91;
    text-align: center;
    color: #eeeeee;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


.registerbtn {
    background-color: #702c91;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
}